:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
}

.msger-chat {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
    max-height: 70vh
}

    .msger-chat::-webkit-scrollbar {
        width: 6px;
    }

    .msger-chat::-webkit-scrollbar-track {
        background: #ddd;
    }

    .msger-chat::-webkit-scrollbar-thumb {
        background: #bdbdbd;
    }

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

    .msg:last-of-type {
        margin: 0;
    }

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-date {
    font-style: italic;
    font-size: small;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

    .right-msg .msg-bubble {
        background: var(--right-msg-bg);
        color: #fff;
        border-bottom-right-radius: 0;
    }

    .right-msg .msg-img {
        margin: 0 0 0 10px;
    }

.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
}

    .msger-inputarea * {
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 1em;
    }

.msger-input {
    flex: 1;
    background: #ddd;
}

.msger-send-btn {
    margin-left: 10px;
    background: #636ea7;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

    .msger-send-btn:hover {
        background: rgb(0, 180, 50);
    }

.msger-chat {
    background-color: #fcfcfe;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1401%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsG1405' transform='translate(0%2c 0)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1405' transform='translate(1439.9999999999998%2c 0)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1401'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cg id='SvgjsG1403'%3e%3cpath d='M7.45 12.652S6.4 11.121 3.725 11.121C1.274 11.121 0 11.833 0 11.833V1.937s1.274-0.712 3.725-0.729C6.4 1.19 7.45 2.756 7.45 2.756V12.652z m1.087 0s1.05-1.531 3.725-1.531c2.451 0 3.725 0.712 3.725 0.713V1.937s-1.274-0.712-3.725-0.729c-2.675-0.017-3.725 1.548-3.725 1.548v9.896z'%3e%3c/path%3e%3cpath d='M8.012 15.733S6.4 13.411 3.725 13.411c-2.451 0-3.725 0.712-3.725 0.712v-1.186s1.274-0.712 3.725-0.729c2.675-0.018 4.287 2.34 4.287 2.34V15.733z m0 0s1.612-2.323 4.287-2.323c2.451 0 3.725 0.712 3.725 0.712v-1.185s-1.274-0.712-3.725-0.729c-2.675-0.019-4.287 2.339-4.287 2.339v1.185z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1402'%3e%3cpath d='M8 1.076C3.594 1.076 0.023 3.767 0.023 7.088c0 1.625 0.857 3.099 2.248 4.181l0.003 3.607 4.168-1.892c0.504 0.075 1.025 0.115 1.558 0.116 4.406 0 7.976-2.692 7.976-6.012C15.976 3.767 12.406 1.076 8 1.076z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1404'%3e%3cpath d='M13.031 12.687V1.875H9.957L9.97 0.071C9.957 0.078 4.189 2.651 4.189 2.651 3.256 3.097 2.919 3.747 2.919 4.632V13.347c0 1.389 1.116 2.528 2.401 2.528h7.737V14.275c-0.948-0.116-0.948-1.469-0.026-1.588z m-7.749 1.422c-0.848-0.005-0.844-1.194 0-1.194h5.399c-0.375 0.278-0.351 0.936 0.051 1.195H5.282z m6.021-2.884H6.577l3.38-1.524V3.628h1.347v7.597h-0.001z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1405'%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(0%2c 0) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(0%2c 156) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(0%2c 312) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(0%2c 468) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1404' transform='translate(156%2c 0) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(156%2c 156) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(156%2c 312) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1404' transform='translate(156%2c 468) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(312%2c 0) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1404' transform='translate(312%2c 156) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1404' transform='translate(312%2c 312) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(312%2c 468) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(468%2c 0) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(468%2c 156) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(468%2c 312) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(468%2c 468) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1404' transform='translate(624%2c 0) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(624%2c 156) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1404' transform='translate(624%2c 312) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(624%2c 468) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(780%2c 0) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1404' transform='translate(780%2c 156) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(780%2c 312) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(780%2c 468) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1404' transform='translate(936%2c 0) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(936%2c 156) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(936%2c 312) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(936%2c 468) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(1092%2c 0) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(1092%2c 156) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1404' transform='translate(1092%2c 312) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1404' transform='translate(1092%2c 468) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(1248%2c 0) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(1248%2c 156) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(1248%2c 312) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(1248%2c 468) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(1404%2c 0) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1402' transform='translate(1404%2c 156) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1404' transform='translate(1404%2c 312) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1403' transform='translate(1404%2c 468) scale(3)' fill='rgba(155%2c 155%2c 155%2c 0.27)'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e")
}