#lessons-display {
    background-color: #636EA7;
}

#lessons-display h1 {
    color: #F9F9DD;
}

.card-display {
    background-color: #f0ad4e;
}

.small-screen {
    display: none;
}

.big-screen {
    display: block;
}

.frost:hover {
    z-index: 2;
}

/* 
#carouselLessons {
    position: absolute;
}

.carousel-control-prev {
    position: relative;
    left: 3rem;
} */

.carousel-control-prev,
.carousel-control-next {
    width: 2rem;
    height: 2rem;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    #lessons-display h1 {
        text-align: center;
    }
}


@media screen and (max-width: 1200px) {
    .small-screen {
        display: block;
    }

    .big-screen {
        display: none;
    }
}