@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.hoverme {
  width: 240px;
  margin: 0 auto 0;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
}

.hoverme span {
  color: #333;
  font-size: 0.9em;
}

.hoverme i {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 3px;
  height: 8px;
  background: red;
  opacity: 0;
}
