#points-banner {
    background-color: #f0ad4e;
}

section#points-banner div p:first-child {
    margin-top: 150px;
}

@media screen and (max-width: 870px) {
    #knowledge-image2 {
        display: none;
    }

    section#points-banner div:nth-child(2) {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    section#points-banner div p:first-child {
        margin-top: 2rem;
        width: 100%;
    }
}