@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html *
{
    font-family: 'Open Sans', sans-serif;
}
p{
    font-size: 20px;
    font-weight: 600;
}
.wave-image{
    width: 100%;
}

.row-cols-5>* {
    width: 240px;    
    margin: auto;
}

div.card.card-display.border-0 {
    width: 100%;    
}

div.row.row-cols-5 {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}