@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html * {
    font-family: 'Open Sans', sans-serif;
}

#root {
    min-height: 100vh;
}

p {
    font-size: 20px;
    font-weight: 600;
}

.wave-image {
    width: 100%;
}

.row-cols-5>* {
    width: 240px;
    margin: auto;
}

div.card.card-display.border-0 {
    width: 100%;
}

div.row.row-cols-5 {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

section#nav-bar {
    min-height: 5vh;
}

section#main {
    min-height: 90vh;
    background-image: url('./images/waves-lessons.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* display: flex;
    flex-direction: column; */
}

.backgound-layer-login,
.backgound-layer-not-found {
    min-height: 90vh;
}

footer {
    min-height: 5vh;
}

.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    z-index: 2;
    transform: scale(1.15);
    /* (130% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.table-container {
    padding: 3rem 5rem;
    border-radius: 5rem;
    overflow: hidden;
}

table {
    padding: 2rem;
    overflow: hidden;
}

table thead tr th {
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

table td {
    text-align: center;
    vertical-align: middle;
}

a, a:hover {
    color: inherit;
}

@media screen and (max-width: 600px) {
    .table-responsive {
        overflow-x: auto;
        overflow-y: hidden;
        display: block;
        width: 100%;
    }

    .table-container {
        padding: 1rem;

    } 

    table {
        padding: 0;
    } 
}
