#banner {
    background-color: #f0ad4e;
    padding-top: 5%;
}

#knowledge-image {
    margin-bottom: 30px;
}

.promo-title {
    font-size: 4rem;
    margin-top: 10px;
    font-weight: 600;
}

.promo-title-2 {
    font-size: 4rem;
    margin-left: 250px;
    font-weight: 600px;
}

.main-text p:last-of-type {
    margin-left: 340px;
}

@media screen and (max-width: 1150px) {
    #knowledge-image {
        display: none;
    }

    .main-text {
        text-align: center;
        width: 100%;
        padding-bottom: 3rem;
    }

    .promo-title-2 {
        margin-left: 0px;
    }
    
    #home-search {
        width: 80%;
        text-align: center;
        align-self: center;
    }
}


@media screen and (max-width: 900px) {
    .main-text {
        text-align: center;
    }
}


@media screen and (max-width: 760px) {
    .main-text p:last-of-type {
        margin-left: 0px;
    }
}